* {box-sizing:border-box}
html{
	 scroll-behavior: smooth;
}
/* Slideshow container */
.slideshow-container {
    max-width: 100vw;
    position: relative;
    margin: auto;
  }
  /* Hide the images by default */
.mySlides {
    display: none;
  }
/* Next & previous buttons */
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }

  /* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }

  /* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
  }

/* Caption text */
.caption_text { 
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
  }
  
  /* Number text (1/3 etc) */
  .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }
  .numbertext ~ img{
    height: 50vw;

  }
  
  /* The dots/bullets/indicators */
  .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  
  /* Fading animation */
  .fade {
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }

/* More Section here */


.section{
    background-color: white !important;
}



.sections {
    display: grid;
    grid-template-areas: 'one two' 'three four';
    grid-template-columns: 1fr 1fr;
    background-image:url(../images/4.jpeg);
    background-size: cover;
    background-attachment: fixed;
    padding: 0 !important;
}
.section-one {
    grid-area: one;
    display: grid;
    grid-template-columns: 1fr 2fr;
    place-items: center;
    place-content: center;
    padding: 10px 20px;
}

.section-two {
    grid-area: two;
    display: grid;
    grid-template-columns: 2fr 1fr;
    place-items: center;
    place-content: center;
    padding: 10px 20px;
}

.section-three {
    grid-area: three;
    border-left: 10px solid var(--primary-clr-500);
    border-right: 10px solid var(--primary-clr-500);
    border-bottom: 5px solid var(--primary-clr-500);
    /* border-radius: 10%; */
    background-color: var(--primary-clr-900);
}

.section-four {
    grid-area: four;
    border-left: 10px solid var(--primary-clr-500);
    border-right: 10px solid var(--primary-clr-500);
    border-bottom: 5px solid var(--primary-clr-500);
    /* border-radius: 10%; */
    background-color: var(--primary-clr-900);
}

.Rahul_Sir,
.Neeraj_Sir{
    height: 150px;
    width: 130px;
    /* box-shadow: 0px 0px 4px 4px var(--primary-clr-100); */
    transition: 100ms;
	/* border-radius: 10px; */
}    

.Rahul_Sir:hover,
.Neeraj_Sir:hover{
    transform:scale(1.1);
    cursor: pointer;
}

div .text {
    font-size: 10px;
    padding: 20px 30px;
	padding-left: 10px;
	font-family: Sofia;
    background-color: #fff;
}


.section-three li::marker,
.section-four li::marker{
    content: '→'; 
}
.section-three li a:hover,
.section-four li a:hover{
    text-decoration: underline;
}

/* media queries for sections */
@media (max-width:50em) {
    .Rahul_Sir,
    .Neeraj_Sir{
        height: 100px;
        width: 100px;
    }
    .sections {
        display: grid;
        padding: 10px 20px;
        grid-template-areas: 'one' 'two' ,'three' 'four';
        grid-template-columns: 1fr 1fr;
    }

    .section-one {
        display: grid;
        grid-template-columns: 1fr;
        /* gap: 1rem; */
    }

    .section-two .img {
        grid-area: one;
    }

    .section-two .text {
        grid-area: two;
    }

    .section-two {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-areas: 'one' 'two';
        /* gap: 1rem; */
    }
}

@media (min-width:60em) {
    .sections {
        display: grid;
        /* gap: 2rem; */
        padding: 10px 20px;
        grid-template-columns: 3fr 1fr;
        grid-template-areas: 'one three' 'two four';
    }

    .section-one {
        grid-area: one;
        display: grid;
        grid-template-columns: 1fr 2fr;
        place-items: center;
        place-content: center;
        padding: 10px 20px;
    }

    .section-two {
        grid-area: two;
        display: grid;
        grid-template-columns: 2fr 1fr;
        place-items: center;
        place-content: center;
        padding: 10px 20px;
    }

    .section-three {
        height: 250px;
        grid-area: three;
        position: relative;
        /* border-radius: 10%; */
    }

    .section-four {
        height: 250px;
        grid-area: four;
        position: relative;
        /* border-radius: 10%; */
    }

    .Rahul_Sir:hover,
    .Neeraj_Sir:hover{
        transform:scale(1.1);
    }

    div .text {
        font-size: clamp(5px, 100%, 40px);
    }
}

.title {
    width: 100%;
    background-color: var(--primary-clr-500);
    padding: 10px 20px;
    text-align: center;
    color: #fff;
    font-size: 1.25rem;
}
.content {
    width: 100%;
    line-height: 2.25rem;
}
.content ul {
    padding: 10px 20px;
}

.content ul li a {
    color: #fff;
}

@media (min-width:50em){   
.marquee{
    height: 200px;
}
}

.carousel-main {
    background-color: var(--primary-clr-500);
    font-family: 'Roboto Mono', monospace;
}

.carousel {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.carousel a {
    color: #fff;
}

.carousel>div {
    width: 200px;
    height: 100px;
    font-size: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* active navigation bar */

.nav-menu ul li .active{
    background-color: red;
    color: #fff;
}
