:root{
	/* --blue-light:rgb(0 0 255 /.7); */
    --primary-clr-100: rgb(0, 0, 0);
    --primary-clr-900: rgba(255, 0, 0, .1);
    --primary-clr-500: rgba(255, 0, 0, 0.774);
    --primary-clr-1000:rgb(255 0 0/.3);
}
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@1,700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

ul li {
    list-style: none;
}

input:focus-visible {
    outline: none;
}

input::placeholder {
    font-size: 20px;
}

/* Top Bar Section */
.topbar {
    display: none;
    font-family: 'Trebuchet MS';
}
/* media queriess for top bar */

@media (min-width:60em) {
	div > a{
		color: #fff;
	}
    .topbar {
        display: grid;
        grid-template-columns: 50% 50%;
        padding: 10px 20px;
		background-color: var(--primary-clr-500);
    }

    .phone-number {
        display: flex;
        gap: 5rem;
    }

    .helpful-links {
        display: flex;
        gap: 5rem;
        align-items: center;
        justify-content: right;
    }

}

/* Navigation Bar Section */
.nav {
    padding: 10px 20px;
    display: grid;
    grid-template-columns: 50% 50%;
    background-color: #fff;
}

.hamburger {
    display: flex;
    justify-content: right;
    align-items: center;
}

.hamburger-image {
    width: 32px;
    height: 30px;
}
/* navigation menus links */

.nav-menu {
    display: none;
}
.nav-menu{
    margin-right: 30px;
}
.nav-menu ul li a{
    padding: 10px 20px;
    transition: 200ms ease;
}
ul li a{
    color: var(--primary-clr-500);
    font-size: 20px;
    font-family: 'Trebuchet MS';
}

.nav-menu ul li a:hover {
    text-decoration-color: red;
    text-decoration-line: underline;
}

/* media queriess for navigation bar */

@media (min-width:60em) {
    .nav {
        padding: 10px 20px;
        display: grid;
        grid-template-columns: 50% 50%;
    }

    .nav-menu {
        display: flex;
        align-items: center;
        justify-content: center;

    }

    .nav-menu ul {
        display: flex;
        gap: 1rem;
    }

    .hamburger {
        display: none;
    }

}
/* footbar Section */
.footbar {
    display: grid;
    grid-template-columns: 35% 30% auto;
    place-items: center;
    background-color: #fff;

}

.footbar>div {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

.bottom-links ul li{
    margin: 20px 10px;
}

.bottom-links ul li a{
    color: #fff;
}

.Menus,
.form{
    height: 100%;
    width: 100%;
    border-bottom: 1px solid #fff;
    background-color: #000;
}

/* media queries */
@media (max-width:50em) {
    .footbar {
        display: grid;
        grid-template-columns: 1fr;
        place-items: center;

    }

    .footbar div {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 2rem;
    }
}

/* form area */
.form1 {
    display: grid;
    gap: 1rem;
    padding-top: 10px;
}

.logo{
    margin-bottom: 10px;
}

.logo-image {
    width: clamp(1rem, 50vw, 20rem);
}

/* .form1 input {
    border: none;
} */

.form1 div.input {
    border-radius: 5px;
    padding: 10px;
}

input[type=text],
input[type=email]{
    padding: 10px 20px;
  }
  
  input[type=submit] {
    width: 100%;
    background-color: var(--primary-clr-1000);
    color: white;
    padding: 10px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background-color: var(--primary-clr-500);
  }

/* hamburger navigation bar  */

.hamnav{
    text-align: center;
    transition: 1s;
}

.hamnav #myLinks {
    display: none;
    width: 100%;
    transition: 1s;
}
  
  .hamnav a {
    color: #000;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 2rem;
    display: block;
    transition: 1s;
    font-family: calibri;
    text-transform: uppercase;
  }

  .hamnav a:hover {
    background-color: #ddd;
    color: red;
    transition: 200ms;
  }
  