:root {
    --primary-clr-900: rgba(0, 0, 0, 0.329);
    --primary-clr-500: grey;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

ul li {
    list-style: none;
}

input:focus-visible {
    outline: none;
}

input::placeholder {
    font-size: 20px;
}

/* Top Bar Section */
.topbar {
    display: none;
}

/* media queriess for top bar */

@media (min-width:60em) {
    .topbar {
        display: grid;
        grid-template-columns: 50% 50%;
        padding: 10px 20px;
    }

    .phone-number {
        display: flex;
        gap: 5rem;
    }

    .helpful-links {
        display: flex;
        gap: 5rem;
        align-items: center;
        justify-content: right;
    }

}

/* Navigation Bar Section */
.nav {
    padding: 10px 20px;
    display: grid;
    grid-template-columns: 50% 50%;
}

.nav-menu {
    display: none;
}

.hamburger {
    display: flex;
    justify-content: right;
    align-items: center;
}

.hamburger-image {
    width: 32px;
    height: 30px;
}

.nav-menu ul li a {
    padding: 10px 20px;
}

.nav-menu ul li a:hover {
    background-color: var(--primary-clr-500);
    color: #fff;
    transition: 500ms;
}

/* media queriess for navigation bar */

@media (min-width:60em) {
    .nav {
        padding: 10px 20px;
        display: grid;
        grid-template-columns: 50% 50%;
    }

    .nav-menu {
        display: flex;
        align-items: center;
        justify-content: center;

    }

    .nav-menu ul {
        display: flex;
        gap: 1rem;
    }

    .hamburger {
        display: none;
    }

}


/* More Section here */

.sections>div {
    /* height: 300px; */
    border-radius: 10px;
}

.section>div {
    background: #fff;
    padding: 5px 10px;
    border-radius: 10px;
}

.sections {
    display: grid;
    gap: 2rem;
    grid-template-areas: 'one two' 'three four';
    padding: 10px 20px;
    grid-template-columns: 1fr 1fr;
}

.section-one {
    grid-area: one;
    display: grid;
    grid-template-columns: 1fr 2fr;
    place-items: center;
    place-content: center;
    padding: 10px 20px;
}

.section-two {
    grid-area: two;
    display: grid;
    grid-template-columns: 2fr 1fr;
    place-items: center;
    place-content: center;
    padding: 10px 20px;
}

.section-three {
    grid-area: three;
    border-left: 10px solid var(--primary-clr-500);
    border-right: 10px solid var(--primary-clr-500);
    border-bottom: 5px solid var(--primary-clr-500);
    border-radius: 10%;
    background-color: var(--primary-clr-900);
}

.section-four {
    grid-area: four;
    border-left: 10px solid var(--primary-clr-500);
    border-right: 10px solid var(--primary-clr-500);
    border-bottom: 5px solid var(--primary-clr-500);
    border-radius: 10%;
    background-color: var(--primary-clr-900);
}

.section-one .img,
.section-two .img,
.img {
    border-radius: 50%;
}

div .text {
    font-size: 10px;
    padding: 0px 10px;
}

/* media queries for sections */
@media (max-width:50em) {
    .sections {
        display: grid;
        gap: 2rem;
        padding: 10px 20px;
        grid-template-areas: 'one' 'two' 'three' 'four';
        grid-template-columns: 1fr;
    }

    .section-one {
        display: grid;
        grid-template-columns: 1fr;
        gap: 1rem;
    }

    .section-two .img {
        grid-area: one;
    }

    .section-two .text {
        grid-area: two;
    }

    .section-two {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-areas: 'one' 'two';
        gap: 1rem;
    }
}

@media (min-width:60em) {
    .sections {
        display: grid;
        gap: 2rem;
        padding: 10px 20px;
        grid-template-columns: 3fr 1fr;
        grid-template-areas: 'one three' 'two four';
    }

    .section-one {
        grid-area: one;
        display: grid;
        grid-template-columns: 1fr 2fr;
        place-items: center;
        place-content: center;
        padding: 10px 20px;
    }

    .section-two {
        grid-area: two;
        display: grid;
        grid-template-columns: 2fr 1fr;
        place-items: center;
        place-content: center;
        padding: 10px 20px;
    }

    .section-three {
        height: 250px;
        grid-area: three;
        position: relative;
        border-radius: 10%;
    }

    .section-four {
        height: 250px;
        grid-area: four;
        position: relative;
        border-radius: 10%;
    }



    .section-one .img,
    .section-two .img,
    .img {
        border-radius: 50%;
    }

    div .text {
        font-size: clamp(5px, 100%, 40px);
    }
}

.title {
    width: 100%;
    background-color: var(--primary-clr-500);
    padding: 10px 20px;
    text-align: center;
    color: #fff;
    font-size: 1.25rem;
}
.content {
    width: 100%;
    line-height: 2.25rem;
}

.content ul {
    /* margin-right: 10px; */
    /* background-color: #fff; */
    padding: 10px 20px;
    height: 100%;
}

.content ul li a {
    color: #fff;
}

.carousel-main {
    background-color: var(--primary-clr-500);
}

.carousel {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.carousel a {
    color: #fff;
}

.carousel>div {
    width: 200px;
    height: 100px;
    font-size: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* footbar Section */
.footbar {
    display: grid;
    grid-template-columns: 35% 30% auto;
    padding: 10px 20px;
}

.footbar>div {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

/* media queries */
@media (max-width:50em) {
    .footbar {
        display: grid;
        grid-template-columns: 1fr;
        padding: 10px 20px;
        gap: 2rem;

    }

    .footbar>div {
        display: flex;
        align-items: center;
        justify-content: left;
        gap: 2rem;
    }
}

/* form area */
.form1 {
    display: grid;
    gap: 1rem;
}

.logo-image {
    width: clamp(1rem, 50vw, 20rem);
}

.form1 input {
    border: none;
}

.form1 div.input {
    border: 1px solid black;
    padding: 10px 12px;
    border-radius: 10px;
}

input[type="submit"] {
    padding: 10px 15px;
    border: none;
    cursor: pointer;
}

/* Slider Section */

/* Image Slider Section */
.sliderbar {
    height: clamp(10px, 50vw, 450px);
    position: relative;
    border: 1px solid black;
    background-image: url("..//images/1.jpeg");
    background-size: cover;
    margin: clamp(1px, 50vw, 10px) clamp(1px, 50vw, 10px);
    animation:slider 9s infinite linear;
}

@keyframes slider{
    0%{
    background-image: url(..//images/2.jpeg);
    }
    35%{
    background-image: url(..//images/4.jpeg);
    }
    75%{
    background-image: url(..//images/4.jpeg);
    }
}